@font-face {
  src: url('fonts/InterDisplay-Bold.woff2') format('woff2');
  font-family: 'Inter';
  font-kerning: normal;
  font-display: swap;
}
@font-face {
  src: url('fonts/Merriweather-Regular.woff2') format('woff2');
  font-family: 'Merriweather';
  font-kerning: normal;
  font-display: swap;
}
@font-face {
  src: url('fonts/FiraCode-Regular.woff2') format('woff2');
  font-family: 'Fira Code';
  font-kerning: normal;
  font-display: swap;
}
:root {
  --text: rgb(1, 16, 24);
  --secondary: rgb(15, 151, 219);
  --accent: rgb(251, 247, 2, 0.75);
  --regular: clamp(1rem, 0.6vmax + 0.6rem, 2rem);
}
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html {
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 6vh 4vw 0;
  overflow-x: hidden;
  color: var(--text);
  font-family: 'Merriweather';
  background: rgb(250, 250, 250);
}
p,
h1,
h2,
h3,
code {
  margin: 0;
  padding: 0;
  margin-block: 0;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-family: 'Inter';
}
h1 {
  line-height: 0.9em;
  margin-left: -0.025em;
  margin-bottom: 0.25em;
  font-size: clamp(1rem, 1.5vmax + 2rem, 4rem);
}
h2 {
  font-size: var(--regular);
}
h3 {
  font-size: 13px;
  letter-spacing: 0.025em;
}
p {
  line-height: 1.25em;
  font-size: var(--regular);
  font-family: 'Merriweather';
}
code {
  transition: 0.5s;
  font-family: 'Fira Code';
  font-size: clamp(1rem, 0.6vmax + 0.65rem, 2rem);
}
textarea {
  resize: none;
  padding: 1vmin;
  background: inherit;
  font-family: inherit;
  font-size: var(--regular);
  border: 1px solid var(--secondary);
}
textarea:focus-within {
  outline-color: var(--accent);
}
textarea,
.result {
  height: 64px;
  max-width: 100%;
  word-break: break-word;
}
main {
  margin: 0 auto;
  max-width: 768px;
}
section {
  display: grid;
  position: relative;
  overflow-x: visible;
  margin-bottom: 4vmax;
  grid-template-columns: repeat(4, 1fr);
}
article {
  margin-bottom: 2em;
}
blockquote {
  margin-inline: 0;
  grid-column: 1 / -1;
  margin: 0.5em 1.5em 2em;
}
label {
  border: none;
  cursor: pointer;
  margin-bottom: 0;
  transition: 0.25s;
  font-family: 'Inter';
}
input[type="checkbox"] {
  display: none;
}
span,
textarea {
  border-radius: 0.5ch;
}
figure {
  margin: 1vmax 0;
}
a {
  color: inherit;
  transition: 0.65s;
  text-underline-offset: 0.2em;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--secondary);
}
a:hover {
  transition: 0;
  text-decoration-color: var(--accent);
}
.footer {
  margin-bottom: 1vmax;
}
.forgetmenot {
  top: -4vh;
  z-index: -1;
  width: 24vmax;
  right: -2vmax;
  position: absolute;
}
.cols-3 {
  grid-column: span 3;
}
.rules,
.examples {
  gap: 2vmax;
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(2, 1fr);
}
.unchecked {
  opacity: 0.6;
}
.checked {
  opacity: 1;
}
.after {
  background: var(--accent);
}
@media screen and (max-width: 768px) {
  .examples {
    grid-template-columns: repeat(1, 1fr);
  }
  .cols-3 {
    grid-column: -1 / 1;
  }
}